@page
@model Vulcan.Web.Pages.LogoutModel
@{
    var isLoggedIn = User.Claims.Any();
}

<div class="container">
    <h2>Please confirm your logout request</h2>
    <form method="post">
        <button class="btn" type="button">Back</button>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
</div>
